@import "tailwindcss";

@theme {
  --color-app-bg: var(--bg-color);
  --color-app-text: var(--text-color);
}

:root {
  --bg-color: #030712;
  --text-color: #f3f4f6;
}

/* Light Theme */
[data-theme="light"] {
  --bg-color: #f3f4f6;
  --text-color: #111827;
}

/* Cyberpunk Theme */
[data-theme="cyber"] {
  --bg-color: #050511;
  --text-color: #00ffcc;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
